<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人工智能大作业</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
</head>

<body>

<div id="app">
    <div class="game">
        <div>
            <div class="tips">
                <h1>迷宫</h1>
                <p>要求：</p>
                <ol>
                    <li>从入口走到出口</li>
                    <li>转弯次数最少（每转一次弯视为移动两次）</li>
                    <li>移动次数最少</li>
                </ol>
            </div>
            <div class="dashboard">
                <label for="map-data-string" style="display: block">地图数据(0表示可走区域，1表示障碍区域 )：</label>
                <textarea name="map-data-string" id="map-data-string" cols="45" rows="10"
                          v-model="mapDataString"></textarea>
                <p>
                    <label for="entrance-x">入口 x:</label>
                    <input id="entrance-x" class="coords-input" type="text" v-model="entrance[0]" :disabled="searching">
                    <label for="entrance-y"> y:</label>
                    <input id="entrance-y" class="coords-input" type="text" v-model="entrance[1]" :disabled="searching">
                </p>
                <p>
                    <label for="exit-x">出口 x:</label>
                    <input id="exit-x" class="coords-input" type="text" v-model="exit[0]" :disabled="searching">
                    <label for="exit-y"> y:</label>
                    <input id="exit-y" class="coords-input" type="text" v-model="exit[1]" :disabled="searching">
                </p>
                <p>
                    <input id="animate-path" type="checkbox" v-model="animatingPath">
                    <label for="animate-path">动态展示</label>
                </p>
                <p>
                    <button @click="searchPath">开始搜索</button>
                </p>
            </div>
        </div>
        <canvas ref="mapBoard" width="500" height="500"></canvas>
    </div>
</div>

</body>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            mapData: [
                [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                [0, 0, 0, 1, 0, 0, 0, 1, 0, 1],
                [1, 0, 0, 1, 0, 0, 0, 1, 0, 1],
                [1, 0, 0, 0, 0, 1, 1, 0, 0, 1],
                [1, 0, 1, 0, 1, 0, 0, 0, 0, 1],
                [1, 0, 0, 0, 1, 0, 0, 0, 0, 1],
                [1, 0, 1, 0, 0, 0, 1, 0, 1, 1],
                [1, 0, 1, 1, 1, 0, 1, 1, 0, 0],
                [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
                [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
            ],
            mapDataString: "",
            searching: false,
            entrance: [0, 1],
            exit: [9, 7],
            // path: [
            //     [0, 1], [1, 1], [2, 1], [2, 2], [2, 3], [3, 3], [3, 4], [3, 5], [3, 6], [4, 6], [5, 6],
            //     [5, 7], [5, 8], [6, 8], [7, 8], [8, 8], [8, 7], [9, 7]
            // ],
            path: [],
            animatingPath: true,
            styleTable: {
                barrierStyle: "#000000",
                spaceStyle: "#fff",
                entranceStyle: "#1E9C4D",
                exitStyle: "#46E375",
                pathStyle: "#FDDA0077",
                lineStyle: "#38D96E"
            }
        },
        methods: {
            searchPath() {
                new Promise((resolve, reject) => {
                    this.searching = true;
                    const up_vector = [0, -1], right_vector = [1, 0],
                        down_vector = [0, 1], left_vector = [-1, 0];
                    let open = [{
                        location: this.entrance,
                        f: Number.POSITIVE_INFINITY,
                        g: 0,
                        h: Number.POSITIVE_INFINITY,
                        parent: null
                    }];
                    const graph = [...open];
                    while (open.length > 0) {
                        open = open.sort((a, b) => a.f - b.f);
                        const n_fmin = open.shift();
                        if (n_fmin.location[0] === this.exit[0]
                            && n_fmin.location[1] === this.exit[1]) {
                            let p = n_fmin;
                            const path = [];
                            while (p) {
                                path.unshift(p.location);
                                p = p.parent;
                            }
                            resolve(path);
                        }
                        const expand_node = [up_vector, right_vector, down_vector, left_vector]
                            // 求出下一步可能的位置
                            .map(vec => [n_fmin.location[0] + vec[0], n_fmin.location[1] + vec[1]])
                            // 去掉越界、不可走的位置
                            .filter(vec => vec[0] >= 0 && vec[0] < this.cols
                                && vec[1] >= 0 && vec[1] < this.rows
                                && this.mapData[vec[1]][vec[0]] === 0
                                && !(vec[0] === this.entrance[0] && vec[1] === this.entrance[1]))
                            // 转换为结点
                            .map(vec => {
                                const g = n_fmin.g + 1;
                                const h = this.exit[1] - vec[1] + this.exit[0] - vec[0];
                                return {
                                    location: vec,
                                    f: g + h,
                                    g: g,
                                    h: h,
                                    parent: n_fmin
                                }
                            });
                        expand_node.forEach(node => {
                            const results = graph.filter(nodeInGraph => nodeInGraph.location[0] === node.location[0]
                                && nodeInGraph.location[1] === node.location[1]);
                            if (results.length > 0) {
                                const found = results[0];
                                if (node.f < found.f) {
                                    found.parent = node.parent;
                                    found.f = node.f;
                                    found.g = node.g;
                                    found.h = node.h;
                                }
                            } else {
                                open.push(node);
                                graph.push(node);
                            }
                        });
                    }
                }).then(path => {
                    this.path.splice(0, this.path.length);
                    if (this.animatingPath) {
                        new Promise(() => {
                            let i = 0;
                            const timer = setInterval(() => {
                                if (i < path.length) {
                                    this.path.unshift(path[i]);
                                    i++;
                                } else
                                    clearInterval(timer);
                            }, 100);
                        });
                    } else {
                        this.path.push(...path);
                    }
                }).finally(() => {
                    this.searching = false;
                });
            },
            drawMapBoard() {
                let mapBoard = this.$refs.mapBoard;
                let width = mapBoard.width;
                let height = mapBoard.height;
                let cellWidth = width / this.cols;
                let cellHeight = height / this.rows;

                let ctx = this.$refs.mapBoard.getContext('2d');
                ctx.fillStyle = this.styleTable.barrierStyle;
                ctx.fillRect(0, 0, width, height);

                // 绘制地图
                ctx.fillStyle = this.styleTable.spaceStyle;
                this.mapData.forEach((rowData, y) => {
                    rowData.forEach((colData, x) => {
                        if (colData === 0) {
                            ctx.fillRect(x * cellWidth, y * cellHeight, cellWidth, cellHeight);
                        }
                    });
                });

                // 绘制线条（看得更清楚）
                ctx.strokeStyle = this.styleTable.lineStyle;
                ctx.lineWidth = 2;
                for (let x = 0; x < this.cols + 1; x++) {
                    ctx.beginPath();
                    ctx.moveTo(x * cellWidth, 0);
                    ctx.lineTo(x * cellWidth, height);
                    ctx.stroke();
                }
                for (let y = 0; y < this.rows + 1; y++) {
                    ctx.beginPath();
                    ctx.moveTo(0, y * cellHeight);
                    ctx.lineTo(width, y * cellHeight);
                    ctx.stroke();
                }

                // 绘制入口
                ctx.fillStyle = this.styleTable.entranceStyle;
                ctx.fillRect(this.entrance[0] * cellWidth, this.entrance[1] * cellHeight, cellWidth, cellHeight);

                // 绘制出口
                ctx.fillStyle = this.styleTable.exitStyle;
                ctx.fillRect(this.exit[0] * cellWidth, this.exit[1] * cellHeight, cellWidth, cellHeight);

                // 绘制路径
                ctx.fillStyle = this.styleTable.pathStyle;
                this.path.forEach(p => ctx.fillRect(p[0] * cellWidth, p[1] * cellHeight, cellWidth, cellHeight));
            }
        },
        computed: {
            rows() {
                return this.mapData.length;
            },
            cols() {
                return this.mapData[0] ? this.mapData[0].length : 0;
            }
        },
        mounted() {
            this.drawMapBoard();
            this.mapDataString = this.mapData.map(i => i.join(",")).join("\n");
        },
        watch: {
            mapDataString: function (val, oldVal) {
                let newArray = [];
                val.split("\n").forEach(line => {
                    let tempArray = [];
                    line.split(",").forEach(ch => tempArray.push(parseInt(ch)));
                    newArray.push(tempArray);
                })
                this.$set(this, 'mapData', newArray);
                this.drawMapBoard();
            },
            entrance: function () {
                this.drawMapBoard();
            },
            exit: function () {
                this.drawMapBoard();
            },
            path: function () {
                this.drawMapBoard();
            }
        }
    });
</script>

</html>
